@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #__next { height: 100%; }
body { @apply bg-gray-50 text-gray-800; }


/* small helper for container */
.container { max-width: 1100px; margin: 0 auto; padding: 1rem; }